*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
}

/* header */
.top-bar {
  display: none;
}

.logo {
  display: none;
}

#hamburger {
  padding: 10px;
  font-size: 40px;
}

.links-container {
  display: none;
}

.nav-link {
  display: flex;
  flex-direction: column;
  left: 0;
  position: fixed;
  font-size: 32px;
  font-weight: 700;
  color: #fff;
  line-height: 80px;
  width: 100%;
  padding: 0 20px;
  background-color: rgba(212, 84, 61, 0.76);
  backdrop-filter: blur(4px);
  top: 0;
  bottom: 0;
}

.nav-link-top a {
  text-decoration: none;
  color: #fff;
}

#landing-main {
  background-image: url('./assets/Website-background.png');
  background-repeat: no-repeat;
  background-size: cover;
}

#landing {
  margin: 0;
  padding: 20px;
}

.prog-card-top h3 {
  color: #ec5242;
  justify-content: center;
  padding-top: 40px;
}

#landing h3 {
  font-size: 18px;
  padding: 20px 0;
  color: #ec5242;
}

#landing h1 {
  font-size: 40px;
  padding: 10px 0;
  font-weight: 900;
  line-height: 55px;
  font-family: lato;
  background-image: linear-gradient(rgba(255, 38, 0, 0.76), rgba(255, 51, 0, 0.575)), url("./assets/ctf.jpg");
  color: transparent;
  -webkit-background-clip: text;
}

#summit {
  -moz-box-shadow: 0 0 3px #ccc;
  -webkit-box-shadow: 0 0 3px #ccc;
  box-shadow: 0 0 3px #ccc;
  padding: 20px;
}

#period {
  font-weight: 700;
  font-size: 24px;
  padding: 30px 0;
}

#copyr {
  padding-bottom: 50px;
}

/* program */
#program {
  padding: 10px;
  background-image: url("./assets/program-bg.jpg");
}

#program h1 {
  color: #fff;
  text-align: center;
  padding: 30px 20px 0 20px;
}

.program-cards {
  display: flex;
  flex-direction: column;
}

.prog-card {
  display: flex;
  border: 1px solid #fff;
  text-align: center;
  margin: 4px;
  background-color: rgba(255, 255, 255, 0.1);
  min-height: 150px;
}

.prog-card-top {
  display: flex;
  padding: 10px;
  width: 100%;
}

.prog-card-top img {
  object-fit: cover;
  justify-content: center;
  padding: 30px 10px;
}

.prog-card-bottom {
  padding: 10px;
  width: 100%;
  color: #fff;
  text-align: center;
}

.prog-card-bottom p {
  text-align: start;
  padding-top: 10px;
}

.whole-prog {
  text-align: center;
  padding-top: 50px;
}

.btn {
  color: #fff;
  border: 1px solid #000;
  padding: 30px;
  font-weight: 700;
  margin: 10px;
  background-color: #ec5242;
  font-size: 20px;
}

.btn:hover {
  background-color: #fff;
  color: #ec5242;
}

/* SPEAKERS */
#speakers {
  margin: 10px;
}

#speakers h2 {
  text-align: center;
}

.speaker-card {
  display: flex;
  margin: 20px 0;
}

.speaker-wrap {
  display: flex;
  flex-direction: column;
  height: 60vh;
  overflow: hidden;
}

.images {
  width: 180px;
  height: 150px;
  background-image: url("./assets/squared-bg.png");
  background-position: top left;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.images img {
  width: 100px;
  object-fit: cover;
}

.info-header p {
  color: rgb(216, 40, 40);
  font-style: italic;
}

.line-below {
  margin: 10px 0;
  width: 30px;
  height: 2px;
  background-color: rgb(165, 161, 161);
}

.line-red {
  margin: 10px 250px;
  height: 2px;
  background-color: rgb(216, 40, 40);
}

.spk-info {
  padding: 0 10px;
  width: 100%;
}

.btn-spk {
  width: 100%;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #000;
  font-size: 16px;
  font-weight: 700;
  margin-top: 30px;
  cursor: pointer;
}

.btn-spk:active {
  background-color: #ec5242;
  color: #fff;
}

#lessspk {
  display: none;
}

.fa-chevron-down {
  color: rgb(216, 40, 40);
}

/* partner */
#partner {
  text-align: center;
  min-height: 40vh;
  background-color: rgb(90, 86, 86);
  color: #fff;
}

#partner h2 {
  padding: 30px 0;
}

.loggo {
  margin: 0 20px;
}

.loggo ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.loggo ul li {
  padding: 10px 20px 0 0;
}

.loggo img {
  width: 20vw;
  list-style: none;
}

footer {
  display: flex;
  justify-content: center;
  font-size: 20px;
  margin: 20px;
}

.copright {
  padding: 0 20px;
}

@media screen and (min-width: 768px) {
  #hamburger {
    display: none;
  }

  .logo {
    display: block;
    padding-top: 30px;
  }

  .top-bar {
    display: block;
    background-color: #000;
    color: #fff;
  }

  .top-bar ul {
    display: flex;
    padding: 10px;
    padding-right: 70px;
    justify-content: end;
  }

  .top-bar ul li {
    display: flex;
    padding-left: 10px;
    justify-content: end;
  }

  .fa-facebook-f,
  .fa-twitter {
    padding-top: 3px;
  }

  #landing {
    padding: 50px;
  }

  #landing h3 {
    font-size: 32px;
    padding: 20px 0;
    color: rgba(255, 38, 0, 0.76);
  }

  #landing h1 {
    font-size: 60px;
  }

  #summit {
    padding: 20px;
    font-size: 16px;
    width: 50%;
  }

  #period {
    font-weight: 900;
    font-size: 24px;
    padding: 30px 0;
  }

  .program-cards {
    display: flex;
    flex-direction: row;
  }

  .prog-card {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
  }

  .prog-card:hover {
    background-color: rgba(175, 168, 168, 0.1);
  }

  .prog-card-top {
    display: flex;
    flex-direction: column;
  }

  .prog-card-top img {
    padding: 10px 10px;
  }

  .btn {
    width: 50%;
    margin: 0;
  }

  .speaker-wrap {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  .speaker-card {
    display: flex;
    align-items: flex-start;
    column-gap: 20px;
  }

  .line-red {
    margin: 10px 650px;
    height: 2px;
    background-color: rgb(216, 40, 40);
  }

  .btn-spk {
    display: none;
  }

  .loggo {
    margin: 0 10px;
  }

  .loggo img {
    width: 10vw;
    list-style: none;
  }

  .top-nav {
    display: flex;
    padding: 0 50px;
    justify-content: space-between;
    background-color: #fff;
    -moz-box-shadow: 0 0 3px #ccc;
    -webkit-box-shadow: 0 0 3px #ccc;
    box-shadow: 0 0 3px #ccc;

    /* position: fixed; */
    width: 100%;
  }

  a {
    text-decoration: none;
  }

  .links-container {
    display: block;
  }

  .nav-link {
    top: 0;
    left: 0;
    bottom: 0;
    position: static;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    line-height: 80px;
    width: 100%;
    padding: 0 20px;
  }

  #close {
    display: none;
  }

  .fa-times {
    display: none;
  }

  .nav-link-top a {
    text-decoration: none;
    color: #000;
    padding-left: 20px;
  }
}
